.wrapper {
	display: flex;
	height: 100%;
	align-items: stretch;
}

.container-fluid{
	padding-left: 0px
}

.money-table {
	font-size: 20px;
	text-align: center;
	margin-top: 15px;
	padding: 0px 0px 0px 30px;
	overflow-y: scroll;
	width: 90%;
	height: 100%;
}

.sidebar {
	background-color: #5ddae2;
	height: 80%;
	display: block;
	position: fixed;
}
#cover{
	display:block;
	height:100%;
	width:100%;
	position:absolute;
}
.gameboard {
	position: fixed;
	background-color: #aefefe;
	/* height: 100% */
}

.game-box{
	position: relative;
	left: 5px;
	top: 5px;
	display: inline;
	align-items: stretch;
	float: left;
	width: 15%;
	height: 10%;
	background-color: #f121dc;
	border: 2px solid #1b110a;
	padding: 25px;
	margin: 10px;
	text-align: center;
	font-weight: bold
}

.opened-box{
	position: relative;
	left: 5px;
	top: 5px;
	display: inline;
	align-items: stretch;
	float: left;
	width: 15%;
	height: 10%;
	background-color: #89b5e8;
	border: 2px solid #1b110a;
	padding: 25px;
	margin: 10px;
	text-align: center;
	font-weight: bold;
}

.value-box{
	position: relative;
	display: inline-block;
	float: left;
	width: 120px;
	height: 35px;
	background-color: #f121dc;
	border: 2px solid #1b110a;
	margin: 1px;
	text-align: center;
}

.strike-box{
	text-decoration: line-through;
	background-color: #23e95b
}

.footer {
	background-color: yellow;
	position: fixed;
	bottom: 0;
	height: 20%;
	width: 100%
}

.buttons{
	position: relative;
	display: inline;
	top: 10px;
	right: 10px;
	float:right;
}

.btn {
	width: 150px;
	height: 120px
}
